.header {
  width: 1360px;
  margin: 0 auto;
  height: 100px;
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;

  
}

#dark .header {
  width: 1360px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  height: 100px;
  background-color: darkslateblue;
  color: white;

}
